:root {
    --primary-color: #35495e;
    --secondary-color: #347474;
    --tertiary-color: #42b883;
    --widget-color: #ff7e67;
    --font-color: #fcfefe;
    --background-gradient: linear-gradient(rgb(182, 244, 146), rgb(51, 139, 147));
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    grid-auto-rows: min-content;
    background: var(--background-gradient);
}

.add-project-button {
    position: fixed;
    top: 4rem;
    right: 5rem;
    width: 5rem;
    background: var(--tertiary-color);
    border: none;
    outline: none; /* Set to none to make button only clickable within border radius */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    transition: all 100ms;
    overflow: hidden; /* Prevents content in button from overflowing beyond border radius */
}

.add-project-button:hover, .add-todo-button:hover {
    transform: scale(1.1);
}

.add-project-button > img, .add-project-button > img {
    display: block;
}

.add-todo-button {
    width: 5rem;
    background: var(--widget-color);
    border: none;
    outline: none; /* Set to none to make button only clickable within border radius */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    transition: all 100ms;
    overflow: hidden; /* Prevents content in button from overflowing beyond border radius */
}

.project {
    padding: 1rem;
    display: grid;
    grid-template-rows: min-content;
    gap: 1rem;
    color: var(--font-color);
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-container {
    display: grid;
    grid-template-rows: min-content;
    gap: 1rem;
}

.hidden {
    display: none;
}

.project-content {
    width: calc(100% - 12rem); /* 12rem = width of add project button (5rem) + 2 * button distance from edge (10rem) - padding (2rem) - 1rem (look and feel) */
    display: grid;
    gap: 0.5rem;
    border-right: 0.25rem solid var(--secondary-color);
}

.project-content > *:empty {
    display: none;
}

.add-todo-button {
    height: 5rem;
    width: 5rem;
}

.due::before {
    content: "Due: ";
}

.priority::before {
    content: "Priority: "
}

.notes::before {
    content: "Notes:";
    display: block;
}

.task {
    padding: 1rem;
    color: var(--font-color);
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task-content {
    width: calc(100% - 12rem); /* 12rem = width of add project button (5rem) + 2 * button distance from edge (10rem) - padding (2rem) - 1rem (look and feel) */
    display: grid;
    gap: 0.5rem;
    border-right: 0.25rem solid var(--secondary-color);
}

.task-content > *:empty {
    display: none;
}

.field-container:has(#todoTitle) {
    grid-column: span 2;
}