html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(auto-fit, 10rem);
    grid-auto-rows: 10rem;
}

.add-project-button {
    position: fixed;
    top: 4rem;
    right: 5rem;
    height: 5rem;
    width: 5rem;
    background-color: aquamarine;
    border: none;
    outline: none; /* Set to none to make button only clickable within border radius */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    transition: all 100ms;
    overflow: hidden; /* Prevents content in button from overflowing beyond border radius */
}

.add-project-button:hover {
    transform: scale(1.1);
}

.add-project-button > img {
    border-radius: 50%;
}

.project {
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project > *:empty {
    display: none;
}